* {
  --black: rgb(0, 0, 0);
  --purple: rgb(82, 5, 123);
  --violet: rgb(137, 44, 220);
  --lavender: rgb(188, 111, 241);
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}


/* Display formatting */
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* Spacing */

/* padding formatting */
.ph {
  padding: 0.5rem;
}

.p2 {
  padding: 2rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pl2 {
  padding-left: 2rem;
}

.pr2 {
  padding-right: 2rem;
}


/* text size formatting */
.txt-sz-small {
  font-size: 0.75em;
}

.txt-sz1 {
  font-size: 1em;
}

.txt-sz1h {
  font-size: 1.5em;
}

.txt-sz2 {
  font-size: 2em;
}

.txt-bold {
  font-weight: 550;
}

/* Background Colors */
.bg-black {
  background-color: var(--black);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-violet {
  background-color: var(--violet);
}

.bg-lavender {
  background-color: var(--lavender);
}



/* Text Colors */
.txt-black {
  color: var(--black);
}

.txt-purple {
  color: var(--purple);
}

.txt-violet {
  color: var(--violet);
}

.txt-lavender {
  color: var(--lavender);
}

.nav {
  text-decoration: none;
  list-style-type: none;
  background-color: var(--purple);
  color: var(--lavender);
  align-items: stretch;
}

.nav a {
  color: inherit;
  display: flex;
  height: 100%;
  align-items: center;
  padding: .50rem;
}

.nav li.active {
  background-color: var(--black);
}

.nav li:hover {
  background-color: var(--violet);
}

h1 {
  color: var(--lavender);
}